* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* ===========User registration form================ */
.registrationContainer {
  background-color: transparent;
  width: 500px;
  padding: 30px;
  margin: 70px auto;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}

.registrationContainer h2 {
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  padding: 20px;
}

.registrationContainer #userRegistrationForm .inputName {
  position: relative;
  width: 90%;
  margin: 20px auto;
  background-color: transparent;
  border: none;
}

#userRegistrationForm input:focus {
  outline: none;
}

::placeholder {
  color: #5a5959;
}

.fa-user,
.fa-envelope,
.fa-lock {
  padding: 8px 11px;
}

#userRegistrationForm .inputName .name,
.email,
.password {
  width: 100%;
  padding: 8px 0 8px 40px;
  border: none;
  border-radius: 5px;
  height: 45px;
}

#userRegistrationForm .userPhoto {
  width: 100%;
  padding: 8px 0 8px 40px;
  border: none;
  border-radius: 5px;
  height: 45px;
}
#userRegistrationForm .inputName i {
  position: absolute;
  border-right: 1px solid #000;
  font-size: 1rem;
  padding: 8px;
  height: 45px;
}

#userRegistrationForm .regBtn {
  background-color: #f98866;
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 90%;
  margin: 20px;
}

.regBtn a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.regBtn:hover {
  background-color: #f98866;
  color: #000;
}

.valid {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}

/* ===================== login-Form ========================== */
/* logIn */
.containerLogIn {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(19, 18, 18, 0.6), rgba(19, 18, 18, 0.6)),
    url(./images/review.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

#loginForm {
  width: 350px;
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 200px;
  left: 800px;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
}

.containerLogIn #loginForm h1 {
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  padding: 20px;
}

#loginForm input {
  width: 100%;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #f98866;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
}

#loginForm input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

/* button-ka logIn */
.login {
  width: 250px;
  height: 40px;
  background: #f98866;
  color: #fff;
  border: none;
  margin-top: 30px;
  margin-left: 25px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.login a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

#loginForm .link {
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

#loginForm .link a {
  text-decoration: none;
  color: #f98866;
}


/* All-Businesses*/

header h1{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  color: #f98866;
  padding: 10px 0;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0;
  position: fixed;
  width: 100%;
}


#reviews {
  width: min(90%, 70rem);
  margin-inline: auto;
}



.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 40px;
  justify-content: center;
}

.card {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  box-shadow: 0 0 3px rgba(249, 136, 102, 0.8);
  height: auto;
  margin-top: 30px;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  position: center;
}

.card h2 {
  font-weight: 700;
  font-size: large;
  margin-top: 10px;
}

.card p {
  font-weight: 200;
  font-size: medium;
  margin-top: 10px;
}

.card button {
  font-weight: 600;
  background-color: #f98866;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.card button:hover {
  background-color: #000;
}


















/* Media Queries for Mobile Screens */
@media (max-width: 768px) {
  /* .navbar {
    flex-direction: column;
    align-items: flex-start;
  } */
}