.search-form.container{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    margin-top: -80px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .form {
    padding: 2.75rem;
    display: flex;
   flex-direction: column;
   align-items: center;
  }
  .form__label{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .form__text{
  padding: 11px 25px;
  border-radius: 7px;
  font-size: 14px;
  width: 100%;
  margin: 10px;
  border: 1px solid #ccc;
  }